<form action="/setup/add/group">
    <p>Amount of Groups: <input type="number" name="quantityGroups" value="4" min="1" style="text-align: center; width: 3em;"/>
    <br/>
    Amount of teams per Group: <input type="number" name="quantityTeams" value="4" min="2" style="text-align: center; width: 3em;"/>
    <br/>
    <input type="submit" value="Add"/></p>
</form>