<p>Caution: all present data will be deleted!</p>
<form action="/load/fromfile/" enctype="multipart/form-data" method="post">
        <input type="file" name="database"/>
        <input type="submit" value="Load"/>
</form>
 